<div class="col-12 col-sm-6 col-lg-3">
    <section class="product-box">
        <a href="/products/<%= product.id %>">
            <figure class="product-box_image">
                <img src="/images/products/<%= product.image %>" alt="imagen de producto <%= product.name %>">
            </figure>
            <article class="product-box_data">
                <h2><%= product.priceWithDiscount %></h2>
                <span><%= product.discount %> % OFF</span>
                <p><%= product.name %></p>
                <i class="fas fa-truck"></i>
            </article>
        </a>
    </section>
</div>