<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= movie.title %>
    </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>
        <%= movie.Title %>
    </h1>
    <br>
    <p>RELEASE YEAR: <%= movie.Year %>
    </p>
    <div class="flex-container w-600px">
        <div class="w-40">
    
            <img src="<%= movie.Poster %>" alt="movie poster" />
        </div>
        <div class="w-40">
            <p>
                <%= plot %>
            </p>
            <img src="<%= countryFlag %>" alt="country flag" />
        </div>
    </div>


    <a href="/movies">Volver</a>


</body>

</html>