<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>

<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->

    <!-- Banner -->
    <div class="banner"></div>
    <!-- /Banner -->

    <!-- ultima visita -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Basado en tu última visita</h2>
            </div>
            <!-- Show the "visited" products -->
            <% visitedProducts.forEach(product => { %>
            <%- include("partials/product-card", {product}) %>
            <% }) %>
        </div>
    </div>
    <!-- /ultima visita -->

    <!-- Ofertas -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Ofertas</h2>
            </div>
            <!-- Show the "in-sale" products -->
            <% inSaleProducts.forEach(product => { %>
            <%- include("partials/product-card", {product}) %>
            <% }) %>
        </div>
    </div>
    <!-- /Ofertas -->

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>