<!DOCTYPE html>
<html>

<head>
    <%- include("partials/head") %>
</head>

<body>
    <!-- Navbar (sit on top) -->
    <nav class="ps-top">
        <div class="ps-bar ps-white ps-padding ps-card ps-nav">
            <a href="#home" class="ps-bar-item ps-button">Pimienta & Sal</a>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="ps-right ps-hide-small">
                <a href="#about" class="ps-bar-item ps-button">About</a>
                <a href="#menu" class="ps-bar-item ps-button">Menu</a>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="ps-display-container ps-content ps-wide" id="home">
        <img class="ps-image" src="/images/header.jpg" alt="Pimienta & Sal" width="1600" height="800" />
        <div class="ps-display-bottomleft ps-padding-large ps-opacity">
            <h1 class="ps-xxlarge">Sabores que enamoran</h1>
        </div>
    </header>

    <!-- Page content -->
    <div class="ps-content">

        <!-- Menu Section -->
        <div class="ps-row ps-padding-64" id="menu">
            <div class="ps-col l6 ps-padding-large">
                <h1 class="ps-center"><%= plato.nombre %></h1>
                <br />
                <h4><%= plato.descripcion %> </h4>
                <p class="ps-text-grey">
                    U$S <%= plato.precio %>
                </p>
            </div>

            <div class="ps-col l6 ps-padding-large ps-img-menu">
                <img src="<%= plato.imagen %>" class="ps-round ps-image ps-opacity-min" alt="Menu" />
            </div>
        </div>

        <!-- Footer -->
        <footer class="ps-center ps-light-grey ps-padding-32">
            <p>Powered by Pimienta & Sal</p>
        </footer>
    </div>
</body>

</html>